<%- include('./partials/header.ejs') %>
    <div class="max-w-2xl mx-auto p-6 bg-white rounded-lg mt-10">
        <div
            class="absolute copieddiv hidden top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 px-3 py-2 bg-blue-500 rounded-md">
            <h3 class="text-blue-200 text-xl">
                link copied
            </h3>
        </div>
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold">Khaatabook</h1>
            <div class="flex space-x-4">
                
               <% if(hisaab.encrypted) { %>
                <button class="bg-blue-500 text-white px-4 py-2 rounded">Encrypted</button>
                <% } %>
                <button class="sharebtn text-gray-700 px-4 py-2 rounded flex items-center space-x-2" onclick="copyUrl()">
                    <span>Share as a link</span>
                </button>
                <a href="/hisaab/delete/<%=hisaab._id%>" class="bg-red-500 text-white px-4 py-2 rounded">Delete</a>
                <% if(hisaab.editpermissions) { %>
                <a href="/hisaab/edit/<%= hisaab._id %>" class="bg-yellow-400 text-white px-4 py-2 rounded">Edit</a>
                <% } %>
            </div>
        </div>
        <div class="text-gray-500 mb-4"></div>
        <h2 class="text-xl font-semibold mb-2"><%=  hisaab.title %></h2>
        <p class="text-gray-700"><%= hisaab.description %></p>
    </div>


    <script>
        
    function copyUrl() {
        var url = window.location.href; // Get the current URL
        navigator.clipboard.writeText(url); // Copy the URL to clipboard
    }
        var timer;
        const sharebtn = document.querySelector(".sharebtn");
        sharebtn.addEventListener("click", function (e) {
            clearTimeout(timer);

            document.querySelector(".copieddiv")
                .classList.remove("hidden");

            timer = setTimeout(function () {
                document.querySelector(".copieddiv")
                    .classList.add("hidden");
            }, 3000)
        })
    </script>

    <%- include('./partials/footer.ejs') %>